/*
 * Device Tree file for IUNO Prototype Board
 *
 * derived from ESPRESSOBin DTS file ((C) Marvell)
 *
 * Copyright (C) 2018 PHOENIX CONTACT
 *
 */

/dts-v1/;

#include "armada-372x.dtsi"

/ {
	model = "Marvell IUNO Prototype Board";
	compatible = "marvell,iuno-prototype", "marvell, armada-3720-espressobin", "marvell,armada3720", "marvell,armada3710";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	aliases {
		ethernet0 = &eth0;
		ethernet1 = &eth1;
		i2c0 = &i2c0;
		spi0 = &spi0;
	};

	memory {
		device_type = "memory";
		reg = <0x00000000 0x00000000 0x00000000 0x20000000>;
	};

/* prototype has no vcc_sd regulator circuit like on espressobin using MPP1_4
	vcc_sd_reg0: regulator@0 {
		compatible = "regulator-gpio";
		regulator-name = "vcc_sd0";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		regulator-type = "voltage";
		states = <1800000 0x1
			  3300000 0x0>;
		gpios = <&gpionb 4 GPIO_ACTIVE_HIGH>;
	};
*/


};

&comphy {
	phy0 {
		phy-type = <COMPHY_TYPE_SGMII1>;
		phy-speed = <COMPHY_SPEED_3_125G>;
	};

	phy1 {
		phy-type = <COMPHY_TYPE_PEX0>;
		phy-speed = <COMPHY_SPEED_2_5G>;
	};

	phy2 {
		phy-type = <COMPHY_TYPE_SATA0>;
		phy-speed = <COMPHY_SPEED_6G>;
	};
};

&eth0 {
	status = "disabled";
	/*
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii_pins>;
	phy-mode = "rgmii";
	phy_addr = <0x1>;
	fixed-link {
		speed = <1000>;
		full-duplex;
	}; */
};

&eth1 {
	status = "okay";
	phy-mode = "sgmii";
	phy = <&mvswitch>;
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};


&mdio {
	#address-cells = <0x1>;
        #size-cells = <0x0>;
	compatible = "marvell,orion-mdio";
	reg = <0x32004 0x4>;

        ethphy0: ethernet-phy@1 {
                reg = <0>;
        };

	mvswitch: switch@0{
                compatible = "marvell,mv88e6xxx","marvell,mv88e6085";
                status = "okay";
                phy-addr = <4>;
                cpu-port = <0x5>;
                port-mask = <0x3ff>;
        };
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	status = "okay";
};

&scsi {
	status = "okay";
};

/* CON3 */
&sata {
	status = "okay";
};

/* removable SD card */
&sdhci0 {
	bus-width = <4>;
	reg = <0xd0000 0x300 0x1e808 0x4>;
	interrupts = <0x0 0x19 0x4>;
	clocks = <0x2 0x0>;
	clock-names = "core";
/*	vqmmc-supply = <&vcc_sd_reg0>;*/
	pinctrl-names = "default";
	pinctrl-0 = <&sdio_pins>;
	wp-inverted;
	status = "okay";
};

/* onboard eMMC Flash */

&sdhci1 {
	compatible = "marvell,armada-3700-sdhci","marvell,sdhci-xenon";
	reg = <0xd8000 0x300 0x17808 0x4>;
	interrupts = <0x0 0x1a 0x4>;
	clocks = <0x2 0x0>;
	clock-names = "core";
	non-removable;
	bus-width = <8>;
	mmc-ddr-1_8v;
	mmc-hs400-1_8v;
	marvell,pad-type = "fixed-1-8v";
	status = "okay";
};

/* onboard SPI NOR flash for booting */

&spi0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi_quad_pins>;

	spi-flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "st,m25p128", "spi-flash";
		reg = <0>; /* Chip select 0 */
		spi-max-frequency = <50000000>;
		m25p,fast-read;
	};
};

/* Exported on the micro USB connector CON32 through an FTDI */
&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;
	status = "okay";
};

/* CON29 */
&usb2 {
	status = "okay";
};

/* CON31 */
&usb3 {
	status = "disabled";
};

&pcie0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie_pins>;
	reset-gpio = <&gpiosb 3 GPIO_ACTIVE_HIGH>;
	status = "okay";
};
